<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blockchain</title>
</head>
<body>
<h1>Blocks</h1>
{{range .Blockchain.Headers}}
    <p>Number: {{.Number}}</p>
    <p>Parent: {{.ParentHash}}</p>
    <p>Timestamp: {{.Timestamp}}</p>
    <p>Hash: {{.BlockHash}}</p>
    <p>Transactions Root: {{.TransactionsRoot}}</p>
    <p>Storage Root: {{.StorageRoot}}</p>
    <p>----------------------------------------</p>
{{end}}
<p>=======================================</p>
<h1>Balances</h1>
{{range $key, $value := .Storage.Balance}}
    <p>{{$key}}: {{$value}}</p>
{{end}}
</body>
</html>